<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}用户列表{% endblock %}</title>
    <link rel ="stylesheet" href ="{{STATIC_URL}}jquery-easyui-1.3.3/themes/default/easyui.css">
    <link rel ="stylesheet" href ="{{STATIC_URL}}jquery-easyui-1.3.3/themes/icon.css">
    <link rel ="stylesheet" href ="{{STATIC_URL}}css/style.css">
</head>
<body>
    <table class="easyui-datagrid" title="DataGrid Complex Toolbar" style="width:700px;height:250px"
			data-options="rownumbers:true,singleSelect:true,url:'showUser',method:'get',toolbar:'#tb'">
		<thead>
			<tr>
				<th data-options="field:'itemid',width:80">Item ID</th>
				<th data-options="field:'productid',width:100">Product</th>
				<th data-options="field:'listprice',width:80,align:'right'">List Price</th>
				<th data-options="field:'unitcost',width:80,align:'right'">Unit Cost</th>
				<th data-options="field:'attr1',width:240">Attribute</th>
				<th data-options="field:'status',width:60,align:'center'">Status</th>
			</tr>
		</thead>
	</table>
    <div id="tb" style="padding:5px;height:auto">
		<div style="margin-bottom:5px">
			<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true"></a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true"></a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true"></a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true"></a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true"></a>
		</div>
		<div>
			Date From: <input class="easyui-datebox" style="width:80px">
			To: <input class="easyui-datebox" style="width:80px">
			Language:
			<select class="easyui-combobox" panelHeight="auto" style="width:100px">
				<option value="java">Java</option>
				<option value="c">C</option>
				<option value="basic">Basic</option>
				<option value="perl">Perl</option>
				<option value="python">Python</option>
			</select>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search">Search</a>
		</div>
	</div>

    <script src ="{{STATIC_URL}}jquery-easyui-1.3.3/jquery.min.js"></script>
    <script src ="{{STATIC_URL}}jquery-easyui-1.3.3/jquery.easyui.min.js"></script>
    <script src ="{{STATIC_URL}}js/common.js"></script>
    <script>
        $(function(){
            fun_json()
        });
        function fun_json() {
            $.ajax({
                type : 'post',
                url : '/user',
                dataType : 'json',
                success : function(ret) {
                    console.log(JSON.stringify(ret))
                },
                error : function(err) {
                }
            });
        }
    </script>

</body>
</html>